[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Netflix Webapp
Exec=mycroft-gui-app --hideTextInput --skill=netflixwebapp.aiix.home
Icon=netflix-webapp
Categories=VoiceApp
StartupNotify=false 
